<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">

    </head>
    <body>
        <h1 class="text-center pt-4">Mis compras</h1>

        <table class="table table-striped table-hover" style="background-color: white;">
            <thead class="table-dark" style="text-align:center; background-color: black;">
                <tr>
                    <th style="color: white;">Nro Venta</th>
                    <th style="color: white;">fecha</th>
                    <th style="color: white;">Cant. productos</th>
                    <th style="color: white;">total</th>
                    <th style="color: white;">Documento</th>
                </tr>
            </thead>
            <tbody style="text-align:center;">
          
                {% for compra in val %}
                    <tr style="background-color: rgb(228, 228, 228);">
                        {% for c in compra %}
                            <td>{{ c }}</td>
                            
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
