{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    {% if user.is_superuser and tipo_usuario != None and tipo_usuario == 'Administrador Sistema' %}
        <a href="https://drive.google.com/file/d/1SlhyZO5xume4be7tJ6y1n69hRqU4fXT5/view?usp=sharing" type="button" class="btn ingresar fw-bolder m-1 mt-4" id="BotonDescargaApp">Descarga la aplicacion movil</a>
    {% endif %}

    <div class="text-center p-4 pb-5 mb-5">
        <h1>Encuentra los mejores productos de ferreteria</h1>
        <img class="logo-principal mb-5" src="{% static  'images/Ferme-logo.png' %}" alt="">
    </div>

    <script>
        let navegador = navigator.userAgent;
        if (navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/webOS/i) || navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/iPod/i) || navigator.userAgent.match(/BlackBerry/i) || navigator.userAgent.match(/Windows Phone/i)) {
            document.getElementById("BotonDescargaApp").style.visibility = "visible"; // show            
        } else {
            document.getElementById("BotonDescargaApp").style.visibility = "hidden"; // hide
        }
    </script>
    <script>
        function manual(){
          Swal.fire({
            title: 'Manual',
            html: `Usted se encuentra en la pagina principal del sistema, 
            la cual contiene un breve mensaje de bienvenida.
            <br><br>
            Dentro de esta interfaz podremos navegar por la totalidad del sistema, 
            e incluso podemos observar, en la parte superior derecha, un pequeño 
            espacio indicándonos nuestro propio nombre de usuario, junto a un boton 
            indicándonos el cierre de sesión.
            <br><br>
            Al seleccionar esta opción, nuestra sesión como usuario finalizará y se 
            nos redireccionará automáticamente hacia el formulario para el ingreso a 
            sistema 
            <br><br>
            En la parte superior podremos observar que el sistema nos ofrece una 
            barra de navegación, la cual contiene distintas opciones que nos redirigirán 
            a su correspondiente módulo dentro de sistema.
            `,
            showConfirmButton: true,
            confirmButtonText: 'Continuar',
          })
        }
      </script>

{% endblock %}