{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/recepcion_productos.css' %}">

<h1 class="text-center pt-5 ">Recepcion de pedidos</h1>
<div class="row p-4 divPadre">
    <div class="border border-secondary divHijo rounded p-5 ">
        <h3 class="text-center">Detalle del Pedido y sus productos</h3>

        <br>
        <div class=" container border border-dark rounded p-3 mt-3">
            <h4>Detalles del Pedido:</h4>
            {% for orden in ordenPedido %}
                <strong>Nro de Compra: </strong>{{orden.ordenid}}<br>
                <strong>Fecha de Creacion: </strong>{{orden.fechapedido}}<br>
                <strong>Proveedor: </strong>{{orden.proveedorid}}
                <br>
            {% endfor %}

                <br>
                 <h4>Productos:</h4>
                <table>
                    <tr>
                        <th>Nombre</th><th class="text-center">Cantidad</th>
                    </tr>
                    {% for detalle in detalleOrden %}
                        <tr class=" border-secondary rounded-3 p-2">
                        <td style="padding-right: 1rem"> <label  > {{detalle.productoid }}</label></td>
                        <td style="padding-right: 1rem"> <label  > {{detalle.cantidad }}</label></td>
                    
                    {% endfor %}
            </table>

        </div>
            
           

        <form method="post" action="" name="formulario" id="formulario">
            <div class="form-group border rounded p-2 border-dark mt-3"> 
                {% csrf_token %}
                <!-- code -->
                <h4 class="m-3">Productos seleccionados</h4>
                <!-- Div donde se añadiran los Selects -->
                    <div id="plazos" class="row" style="padding-left: 20px;padding-right: 60px;">
                    </div>
                <br>  
            </div>
        </form>
    </div>

    <div class="border border-secondary divHijo  rounded">
        <h3 class="text-center pb-3">Seleccione producto a recepcionar</h3>
        <form>
            Buscar producto <input id="searchTerm" type="text" onkeyup="doSearch()" />
        </form>
        <p>
            <table id="datos">
                <tr>
                    <th>Nombre</th><th class="text-center">Accion</th>
                </tr>
                {% for value in detalleOrden %}
                    <tr class="border border-secondary rounded-3 p-2">
                        <td style="padding-right: 2rem;" id="{{value}}">{{value.productoid }}</td>
                        <td style="display: None; height: 1px;" id="{{value.productoid.productoid}}">{{value.productoid.productoid}}</td>
                        <td ><input class="btn btn-secondary btn-sm " type="button" title="Agregar Producto" Value="Confirmar" onclick="agregar2('{{value}}','{{value.productoid.productoid}}')"></td>
                    </tr>
                {% endfor %}
                <tr class='noSearch hide'>
                    <td colspan="5"></td>
                </tr>
            </table>
        </p>
    </div>
    <div class="text-center pb-4 pt-4 d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-success" onclick="ValidarPedido()">Recepcionar Pedido</button>
    </div>
</div>





<script language="JavaScript">
    //Creacion de Variable incremental
    var incremento = 0;
    
    function agregar2(idProd, producto_id)
    {
        let coincidencia = document.getElementById(idProd).textContent;
        let idcoincidencia = document.getElementById(producto_id).textContent;

        console.log(coincidencia)

        incremento++;
        //Obteniendo el Div "plazos"
        bloque = document.getElementById('plazos');
     
        //Creando el input que irá dentro del Div "plazos"
        elemento = document.createElement('input');
        elemento.setAttribute("class", "form-control col-sm-3 mb-2 productoSeleccionado" );
        elemento.setAttribute("style", "width:300px" );
        elemento.setAttribute("name", `${idcoincidencia}` );
        elemento.id = 'input1.'+incremento;
        elemento.setAttribute("readonly", "" );
        bloque.appendChild(elemento);

        eliminar = document.createElement('input');
        eliminar.setAttribute("class", "btn btn-secondary btn-sm mb-2");
        eliminar.setAttribute("onclick", `borrar(${incremento})`);
        eliminar.setAttribute("value", "-");
        eliminar.setAttribute("style", "width:30px");
        eliminar.id = 'borrar'+incremento;
        bloque.appendChild(eliminar);

        document.getElementById(elemento.id).value = coincidencia;

        br = document.createElement('br');
        br.id = 'br'+incremento;
        bloque.appendChild(br);
    }

    //Lo que se hará cuando se presione el boton de Borrar
    function borrar(obj) {
        document.getElementById(`input1.${obj}`).remove();
        document.getElementById(`borrar${obj}`).remove();
        document.getElementById(`br${obj}`).remove();
    }

    function ValidarPedido(){
        bloque = document.getElementById('plazos').innerHTML;
        localStorage.setItem("producto", JSON.stringify(bloque));
        local = localStorage.getItem("producto");
        local = local.length;
        if (local <= 36){
            Swal.fire({
                icon: 'error',
                title: 'No hay productos seleccionados',
                showConfirmButton: true,
            })
        }else{
            Swal.fire({
                icon: 'info',
                title: 'Recepcionando pedido...',
                showConfirmButton: false,
                timer: 3000
            })
            document.formulario.submit();
        }
    }

</script>

<script> 
    function doSearch()
    {
        const tableReg = document.getElementById('datos');
        const searchText = document.getElementById('searchTerm').value.toLowerCase();
        let total = 0;

        // Recorremos todas las filas con contenido de la tabla
        for (let i = 1; i < tableReg.rows.length; i++) {

            // Si el td tiene la clase "noSearch" no se busca en su cntenido
            if (tableReg.rows[i].classList.contains("noSearch")) {
                continue;
            }

            let found = false;
            const cellsOfRow = tableReg.rows[i].getElementsByTagName('td');

            // Recorremos todas las celdas
            for (let j = 0; j < cellsOfRow.length && !found; j++) {

                const compareWith = cellsOfRow[j].innerHTML.toLowerCase();

                // Buscamos el texto en el contenido de la celda
                if (searchText.length == 0 || compareWith.indexOf(searchText) > -1) {
                    found = true;
                    total++;
                }
            }

            if (found) {
                tableReg.rows[i].style.display = '';
            } 
            else {
                // si no ha encontrado ninguna coincidencia, esconde la
                // fila de la tabla
                tableReg.rows[i].style.display = 'none';
            }
        }

        // mostramos las coincidencias
        const lastTR=tableReg.rows[tableReg.rows.length-1];
        const td=lastTR.querySelector("td");
        lastTR.classList.remove("hide", "red");

        if (searchText == "") {
            lastTR.classList.add("hide");
        } 
        else if (total) {
            td.innerHTML="Se ha encontrado "+total+" coincidencia"+((total>1)?"s":"");
        } 
        else {
            lastTR.classList.add("red");
            td.innerHTML="No se han encontrado coincidencias";
        }
    }
</script>
<script>
    function manual(){
      Swal.fire({
        title: 'Manual',
        html: `Esta interfaz es importante, ya que aca podras recepcionar el pedido. Te apareceran
        los detalles del pedido.
        <br><br>
        Tambien podras seleccionar los productos a recepcionar en casos de productos que no llegen 
        su totalidad 
        <br><br>     
        `,
        showConfirmButton: true,
        confirmButtonText: 'Continuar',
      })
    }
</script>

{% endblock %}