{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/registro_clientes.css' %}">
    
    <div class="container text-end caja rounded mt-5 mb-5">
        
        <h1 class="text-center">Registro de empleado</h1>
        
        <form method="post" action="" class="">
            {% csrf_token %}        

            <div class="form-group row pb-3">
                <div class="col-md-3 mt-1 textos p-0">
                    <label for="run" class="txt_negrita label">Run:</label><br>
                    <label for="run" class="txt_negrita label">Nombres:</label><br>
                    <label for="run" class="txt_negrita label">Apellido paterno:</label><br>
                    <label for="run" class="txt_negrita label">Apellido materno:</label><br>
                    <label for="run" class="txt_negrita label">Telefono:</label><br>
                    <label for="comuna" class="txt_negrita label">Correo:</label><br>
                </div>
                <div class="col-md-3">
                    <div class="run">
                        {% render_field form1.runcuerpo class="form-control border border-secondary input-run"%}
                        <label for="run" class="txt_negrita guion">-</label>
                        {% render_field form1.dv class="form-control input-dv border border-secondary"%}
                    </div>
                    
                    {% render_field form1.nombres class="form-control input border border-secondary"%}
                    {% render_field form1.apellidopaterno class="form-control input border border-secondary"%}
                    {% render_field form1.apellidomaterno class="form-control input border border-secondary"%}
                    {% render_field form1.telefono class="form-control input border border-secondary"%}
                    {% render_field form2.email class="form-control input border border-secondary"%}
                </div>

                <div class="col-md-3 mt-1 p-0">
                    <label for="comuna" class="txt_negrita label">Fecha de ingreso:</label><br>
                    <label for="precio" class="txt_negrita label">Nombre de usuario:</label><br>
                    <label for="precio" class="txt_negrita label">Contraseña:</label><br>
                    <label for="precio" class="txt_negrita label">Confirme contraseña:</label><br>
                </div>
                <div class="col-md-3">
                    {% render_field form3.fechaingreso|attr:"readonly:True" class="form-control input border border-secondary dateinput" placeholder="Click aqui" style="width:110px" %}
                    {% render_field form2.nombreusuario class="form-control input border border-secondary"%}
                    <input class="form-control input border border-secondary" type="password" id="password" name="password" onkeyup="myFunction()"/>
                    <input class="form-control input border border-secondary" type="password" id="confirme_contraseña" name="confirme_contraseña" onkeyup="myFunction()"/>
                    <div class="" style="display: flex;">
                        <button type="submit" id="boton_aceptar" class="btn btn_aceptar border border-secondary text-black" style="margin-right: 10px;">Aceptar</button>
                        <a href="{% url 'listar_empleados' %}" type="submit" class="btn btn_aceptar border border-secondary text-black">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    <!-- <script src="{% static 'js/registro_clientes.js' %}"></script> -->
    <script>

        let button = document.getElementById('boton_aceptar')
        button.disabled = true

        function myFunction() {

            var password = document.getElementById('password').value;
            var confirme_contraseña = document.getElementById('confirme_contraseña').value;
            if (password !== "" && confirme_contraseña !== "" && password === confirme_contraseña){
                button.disabled = false
            }
            else{
                button.disabled = true
            }
        }
        
    </script>
{% endblock %}