{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

    <link href="{% static 'js/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'js/jquery-ui-1.12.1/jquery-ui.structure.min.css' %}" rel="stylesheet">
    <link href="{% static 'js/jquery-ui-1.12.1/jquery-ui.theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'js/jquery-ui-1.12.1/external/jquery/jquery.js' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/agregar_productos.css' %}">

    <div class="container text-end caja rounded mt-5">
        <h1 class="text-center p-2">Registro de Productos</h1>

        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}        
                <div class="form-group row pb-3">
                    <div class="col-md-2 mt-1 textos p-0">
                        <label class="txt_negrita label">Nombre:</label><br>
                        <label class="txt_negrita label">Precio:</label><br>
                        <label class="txt_negrita label">Stock:</label><br>
                        <label class="txt_negrita label">Stock Critico:</label><br>
                        <label class="txt_negrita label">Fecha de Vencimiento:</label><br>
                    </div>
                    <div class="col-md-2">
                        {% render_field form.nombre class="form-control input border border-secondary" minlenght="1" maxlength="50" onkeypress="return numerosCaracteres(event)" %}
                        {% render_field form.precio class="form-control input border border-secondary" type="text" minlenght="1" maxlength="7" onkeypress="return soloNumeros(event)" %}
                        {% render_field form.stock class="form-control input border border-secondary" type="text" minlenght="1" maxlength="7" onkeypress="return soloNumeros(event)" %} 
                        {% render_field form.stockcritico class="form-control input border border-secondary" type="text" minlenght="1" maxlength="7" onkeypress="return soloNumeros(event)" %} 
                        {% render_field form.fechavencimiento|attr:"readonly:True" class="form-control dateinput  border border-secondary"  name="fecha_vencimiento" %}
                    </div>

                    <div class="col-md-2 mt-1 textos p-0">
                        <label class="txt_negrita label">Imagen del Producto:</label><br>
                        <label class="txt_negrita label">Proveedor :</label><br>
                        <label class="txt_negrita label">Tipo de Producto :</label><br>
                        <label class="txt_negrita label">Familia del Producto:</label><br>
                        <label class="txt_negrita label">Estado Producto:</label><br>
                    </div>
                        <div class="col-md-2" style="padding-top: 14px!important;">
                            {% render_field form.imagen type="file" class="form-control border border-secondary" name="imagen" id="id_imagen"%}
                            {% render_field form.proveedorid class="form-control input border border-secondary" name="proveedorid" %}
                            {% render_field form.tipoproductoid class="form-control input border border-secondary" name="tipoproductoid" %}
                            {% render_field form.familiaproid class="form-control input border border-secondary" name="familiaproid" %}
                            {% render_field form.estadoid class="form-control input border border-secondary" name="estadoid" %}
                        </div>
                    

                    <div class="row">
                        <div class="" style="display: flex; justify-content: center;">
                            <button type="submit" id="boton_aceptar" class="btn" style="margin-right: 30px;">Aceptar</button>
                            <a href="/productos" type="submit" class="btn">Cancelar</a> 
                        </div>
                    </div>
                </div>
        </form>
    </div>

    <script src="{% static 'js/agregar_productos.js' %}"></script>

{% endblock %}