{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/modulo_productos.css' %}">
    <div class="container text-end caja rounded mt-5">
        <h1 class="text-center" >Detalles del Producto</h1>

        <table class="table table-striped table-hover" style="background-color: white; margin-bottom: 35px;">
            <thead class="table-dark" style="text-align:center">
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Stock Critico</th>
                    <th>Fecha de Vencimiento</th>
                    <th>Imagen del producto</th>
               
                </tr>
            </thead>
            <tbody style="text-align:center">
                <tr>
                    <td class="border border-secondary" >{{ producto.productoid.nombre}}</td>
                    <td class="border border-secondary" >${{ producto.productoid.precio}}</td>
                    <td class="border border-secondary" >{{ producto.productoid.stock }}</td>
                    <td class="border border-secondary" >{{ producto.productoid.stockcritico }}</td>
                    {% if producto.productoid.fechavencimiento != None %}
                        <td class="border border-secondary" >{{ producto.productoid.fechavencimiento }}</td>
                    {% else %}
                        <td class="border border-secondary" >--</td>
                    {% endif %}
                    <td class="border border-secondary" > <img src="/static/images/{{producto.productoid.imagen}}" alt="imagen producto" style="width:100px;height:100px;"> </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped table-hover" style="background-color: white; margin-bottom: 35px;">
            <thead class="table-dark" style="text-align:center">
            <tr>
                <th>Codigo</th>
                <th>Proveedor</th>
                <th>Tipo de Producto</th>
                <th>Familia del Producto</th>
                <th>Estado</th>
                <th>Lugar en Bodega</th>
            </tr>
            </thead>
            <tbody style="text-align:center">
            <tr>
                <td class="border border-secondary" >{{ producto.productoid.codigo}}</td>
                <td class="border border-secondary" >{{ prov_producto.proveedorid.razonsocial}}</td>
                <td class="border border-secondary" >{{ producto.productoid.tipoproductoid }}</td>
                <td class="border border-secondary" >{{ producto.productoid.familiaproid }}</td>
                <td class="border border-secondary" >{{ producto.productoid.estadoid }}</td>
                <td class="border border-secondary" >{{ producto.productoid.BodegaId }}</td>
            </tr>
            </tbody>
        </table>

    

        <a href="{% url 'listar_productos' %}" type="submit" class="btn">Volver</a>

    </div>
    
{% endblock %}