{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
{% load l10n %}
{% localize on %}
{% load humanize %}

    <link rel="stylesheet" href="{% static 'css/modulo_productos.css' %}">
    <div class="container text-end caja rounded mt-5">
    <h1 class="text-center" >Detalles de la Venta</h1>
    <table class="table table-striped table-hover" style="background-color: white; margin-bottom: 35px;">
        <thead class="table-dark" style="text-align:center">
            <tr>
                <th>Cliente</th>
                <th>Fecha de Venta</th>
                <th>Tipo documento</th>
                <th>Tipo entrega</th>
                <th>Valor Total</th>
                <th>Tipo de Pago</th>
            </tr>
        </thead>
        <tbody style="text-align:center">
            {% for venta in ventas %}
                <tr>
                    <td>{{ venta.clienteid }}</td>
                    <td>{{ venta.fechaventa }}</td>
                    <td>{{ venta.tipodocumentoid }}</td>
                    {% if despacho|length == 0 %}
                    <td> Retiro En tienda </td>
                    {% else %}
                    <td> Despacho a domicilio</td>
                    {% endif %}
                    <td>${{ venta.totalventa |localize |intcomma }} </td>
                    <td>{{ venta.tipopagoid.descripcion }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="table table-striped table-hover" style="background-color: white; margin-bottom: 35px;">
        <thead class="table-dark" style="text-align:center">
            <tr>
                <th>Nombre Producto</th>
                <th>Cantidad</th>
                <th>Sub Total</th>
                <th>Imagen</th>
            
            </tr>
        </thead>
        <tbody style="text-align:center">
            {% for detalle in detalle_venta %}
                <tr>
                    <td>{{ detalle.productoid.nombre }}</td>
                    <td>{{ detalle.cantidad }}</td>
                    <td>${{detalle.subtotal |localize |intcomma }}</td>
                    <td> <img src="/static/images/{{detalle.productoid.imagen}}" alt="imagen producto" style="width:100px;height:100px;"> </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if despacho|length == 0 %}
    <td>  </td>
    {% else %}
    <table class="table table-striped table-hover" style="background-color: white; margin-bottom: 35px;">
        <thead class="table-dark" style="text-align:center">
            <tr>
                <th>Fecha Solicitud</th>
                <th>Fecha Despacho</th>
                <th>Estado</th>
                <th>Direccion</th>
            </tr>
        </thead>
        <tbody style="text-align:center">
            {% for despa in despacho %}
                <tr>
                    <td>{{ despa.despachoid.fechasolicitud }}</td>
                    <td>{{ despa.despachoid.fechadespacho }}</td>
                    <td>{{despa.despachoid.estadoid }}</td>
                    <td>{{ despa.iddircliente.direccionid }}, {{ despa.iddircliente.direccionid.comunaid }}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <a href="{% url 'listar_ventas' %}" type="submit" class="btn">Volver</a>

    </div>
    {% endlocalize %}
    {% endblock %}