{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
{% load l10n %}
{% localize on %}
{% load humanize %}
<link rel="stylesheet" href="{% static 'css/modulo_productos.css' %}">
    <div class="container text-end caja rounded mt-5">
        <h1 class="text-center" >Detalles de Factura</h1>

        <table class="table table-striped table-hover" style="background-color: white; margin-bottom: 35px;">
            <thead class="table-dark" style="text-align:center">
                <tr>
                    <th>Fecha Creación</th>
                    <th>Neto</th>
                    <th>IVA</th>
                    <th>Total</th>
                    <th>Nro Venta </th>
                </tr>
            </thead>
            <tbody style="text-align:center">
                <tr>
                    <td>{{ factura.fechafactura|date:"SHORT_DATE_FORMAT"}}</td>
                    <td>${{ factura.neto|localize |intcomma }}</td>
                    <td>${{ factura.iva|localize |intcomma }}</td>
                    <td>${{ factura.totalfactura|localize |intcomma }}</td>
                    <td>{{ factura.nroventa.nroventa    }}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped table-hover" style="background-color: white; margin-bottom: 35px;">
            <thead class="table-dark" style="text-align:center">
            <tr>
                <th>Cliente</th>
                <th>Fecha de Venta</th>
                <th>Tipo documento</th>
                <th>Tipo entrega</th>
                <th>Valor Total</th>
                <th>Tipo de Pago</th>
            </tr>
            </thead>
            <tbody style="text-align:center">
            <tr>
                <td>{{ factura.nroventa.clienteid }}</td>
                <td>{{ factura.nroventa.fechaventa }}</td>
                <td>{{ factura.nroventa.tipodocumentoid }}</td>
                {% if despacho|length == 0 %}
                <td> Retiro En tienda </td>
                {% else %}
                <td> Despacho a domicilio</td>
                {% endif %}
                <td>${{ factura.nroventa.totalventa |localize |intcomma }} </td>
                <td>{{ factura.nroventa.tipopagoid.descripcion }}</td>
            </tr>
            </tbody>
        </table>

    

        <a href="{% url 'listar_facturas' %}" type="submit" class="btn">Volver</a>

    </div>
{% endlocalize %}
{% endblock %}