#content {
  max-width: 80%;
  max-height: 80%;
  width: -webkit-fill-available;
}


.form-signin {
  background-color: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

form {
  width: 80%;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn {
  background-color: #FF9550!important;
}