.navbar, .footer {
    background-color: #909090;
}

.ingresar, .registrarme{
    background-color: #FF9550!important;
}

.logo{
    color: #FF9550!important;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.logo-navbar {
    max-width: 8%;
    max-height: 2%;
}
