.input {
    width: 120%;
    height: 10%;
    margin-top: 20px;
    margin-bottom: 21px;
}

.label {
    padding: 14px!important;
}

.caja {
    padding-top: 2%;
    padding-bottom: 3%;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 5%!important;
    margin-bottom: 6%!important;
    background-color: #D9D9D9;
}

.divPadre{
    justify-content: center;

}
.divHijo{
    width: 45% !important; 
    margin-inline: 2rem;
}
 
.textos {
    width: 20%;
}

.btn {
    background-color: #FF9550!important;
}

.input-dv {
    width: 25%;
}

.dateinput {
    width: 120%;
    height: 10%;
    margin-top: 20px;
    margin-bottom: 21px;
}

.input-run {
    width: 100%;
}

.run {
    margin-top: 17px;
    margin-bottom: 17px;
    display: flex;
    height: 10%;
    width: 120%;
}

.guion {
    padding-left: 5%;
    padding-right: 5%;
}

#id_imagen {
    width: 120%;
} 

