.input {
    width: 120%;
    height: 10%;
    margin-top: 20px;
    margin-bottom: 21px;
}

.label {
    padding: 15px;
}


.caja {
    padding: 5%;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #D9D9D9;
}

.textos {
    width: 20%;
}

.btn {
    background-color: #FF9550!important;
}

.input-dv {
    width: 25%;
}

.input-run {
    width: 100%;
}

.run {
    margin-top: 17px;
    margin-bottom: 17px;
    display: flex;
    height: 10%;
    width: 120%;
}

.guion {
    padding-left: 5%;
    padding-right: 5%;
}