.input {
    width: 120%;
    height: 10%;
    margin-top: 20px;
    margin-bottom: 21px;
}

.label {
    padding: 18px!important;
}

.imagen-producto {
    padding-right: 15px!important;
    padding-bottom: 52px!important;
}

.modificar-imagen {
    display: -webkit-inline-box; 
    text-align: initial!important; 
    padding-top: 15px;
}

.caja {
    padding-top: 2%;
    padding-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 5%!important;
    margin-bottom: 6%!important;
    background-color: #D9D9D9;
}

.textos {
    width: 17%;
}

.btn {
    background-color: #FF9550!important;
}

.input-dv {
    width: 25%;
}

.dateinput {
    width: 25%;
    height: 10%;

}

.input-run {
    width: 100%;
}

.run {
    margin-top: 17px;
    margin-bottom: 17px;
    display: flex;
    height: 10%;
    width: 120%;
}

.guion {
    padding-left: 5%;
    padding-right: 5%;
}

#id_imagen {
    margin-left: -175px;
    width: 60%;
}

#imagen-clear_id {
    margin-bottom: 3%;
}

.hide {display: none;}