.formulario_contacto {
    width: 600;
    margin-top:1rem;
    background-color: orange ;

}

td{
    padding-block: 0.5rem;
    width: 100px;
}
th{
    padding-left: 10px;
}
input{
    width: 150px;
}