{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/modulo_productos.css' %}">
    <div class="container text-end caja rounded mt-5">
        <h1 class="text-center" >Detalles de la Nota de Credito</h1>

        <table class="table table-striped table-hover" style="background-color: white; margin-bottom: 35px;">
            <thead class="table-dark" style="text-align:center">
                <tr>
                    <th>Numero</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Nro Documento</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody style="text-align:center">
                <tr>
                    <td class="border border-secondary" >{{ nota_credito.nronota }}</td>
                    <td class="border border-secondary" >{{ nota_credito.fechanota}}</td>
                    <td class="border border-secondary" >${{ nota_credito.total }}</td>
                    
                    {% if nota_credito.numerofactura != None %}
                        <td class="border border-secondary" >{{ nota_credito.numerofactura }}</td>
                    {% else %}
                        <td class="border border-secondary" >{{ nota_credito.nroboleta }}</td>
                    {% endif %}
                    <td class="border border-secondary" >{{ nota_credito.estadoid.descripcion }}</td>
                </tr>
            </tbody>
        </table>
        <div style="display: inline-flex;">
            <form method="POST" action="">
                {% csrf_token %}
                {% if nota_credito.estadoid.descripcion == 'Activo' %}
                    <button type="submit" id="" name="CambiarEstado" value="{{nota_credito.nronota}}" class="btn btn_aceptar border border-secondary m-1">Anular Nota Credito</button>
                {% else %}
                    <button type="submit" id="" name="CambiarEstado" value="{{nota_credito.nronota}}" class="btn btn_aceptar border border-secondary m-1">Activar Nota Credito</button>
                {% endif %}
            </form>
            <a href="{% url 'listar_notas_credito' %}" type="submit" class="btn m-1">Volver</a>
        </div>
        <form action="" method="post" id="formulario">
            {% csrf_token %}    
            <div class="container p-3">
                <div class="row">
                    <div class="col-md-4">
                    </div>
        
                    <div class="col-md-4 text-center">
                        <br>
                        <div class="row">
                            <div class="col-md-6 border border-dark rounded">
                                <label for="">Exportar a documento tipo:</label></br></br>
                                <input type="radio" name="informeCheck" value="informeExcel" id="informeCheck1" onclick="checkeado(this.form)"> Excel</br></br>
                                <input type="radio" name="informeCheck" value="informeWord" id="informeCheck2" onclick="checkeado(this.form)"> Word</br></br>
                                <input type="radio" name="informeCheck" value="informePdf" id="informeCheck3" onclick="checkeado(this.form)"> PDF</br><br>
                            </div>
                            <div class="col-md-6 border border-dark rounded" style="display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;">
                                <button type="submit" name="descargarInforme" value="descargarInforme" id="descargarInforme" class="btn btn_aceptar border border-secondary text-black">Descargar</button><br><br>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        document.getElementById("descargarInforme").disabled=true;
        function checkeado(form)
        {
            if (form.informeCheck3.checked == true || form.informeCheck1.checked == true || form.informeCheck2.checked == true){
                form.descargarInforme.disabled = false;
            }

        }
    </script>
{% endblock %}