{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/registro_clientes.css' %}">
    
    <div class="container text-end caja rounded mt-5 mb-5">
        
        <h1 class="text-center">Registro de cliente</h1>

        <form method="post" action="" class="">
            {% csrf_token %}        

                <div class="form-group row pb-3">
                    <div class="col-md-2 mt-1 textos p-0">
                        <label for="run" class="txt_negrita label">Run:</label><br>
                        <label for="run" class="txt_negrita label">Nombres:</label><br>
                        <label for="run" class="txt_negrita label">Apellido paterno:</label><br>
                        <label for="run" class="txt_negrita label">Apellido materno:</label><br>
                        <label for="run" class="txt_negrita label">Telefono:</label><br>
                        <label for="comuna" class="txt_negrita label">Correo:</label><br>
                    </div>
                    <div class="col-md-2">
                        <div class="run">
                            {% render_field form1.runcuerpo class="form-control border border-secondary input-run" type="text" placeholder="12345678" minlength="7" maxlength="9" onkeypress="return SoloNumeros(event)" %}
                            <label for="run" class="txt_negrita guion">-</label>
                            {% render_field form1.dv class="form-control input-dv border border-secondary" onkeypress="return ValidacionDv(event)" %}
                        </div>
                        
                        {% render_field form1.nombres class="form-control input border border-secondary" onkeypress="return SoloLetras(event)" %}
                        {% render_field form1.apellidopaterno class="form-control input border border-secondary" onkeypress="return SoloLetras(event)" %}
                        {% render_field form1.apellidomaterno class="form-control input border border-secondary" onkeypress="return SoloLetras(event)" %}
                        {% render_field form1.telefono class="form-control input border border-secondary" type="text" placeholder="56999999999 223456789" onkeypress="return ValidacionTelefono(event)" %}
                        {% render_field form3.email type="email" class="form-control input border border-secondary" placeholder="nombre@ejemplo.com" %}
                    </div>

                    <div class="col-md-2 mt-1 p-0">
                        <label for="comuna" class="txt_negrita label">Calle:</label><br>
                        <label for="comuna" class="txt_negrita label">Numero:</label><br>
                        <label for="comuna" class="txt_negrita label">Comuna:</label><br>
                        <label for="comuna" class="txt_negrita label">Tipo de vivienda:</label><br>
                        <label for="comuna" class="txt_negrita label">Tipo de barrio:</label><br>
                        <label for="comuna" class="txt_negrita label">Nombre de sector:</label><br>

                    </div>
                    <div class="col-md-2">
                        {% render_field form2.calle class="form-control input border border-secondary" %}
                        {% render_field form2.numero class="form-control input border border-secondary" minlength="1" onkeypress="return SoloNumeros(event)" %}
                        {% render_field form2.comunaid class="form-control input border border-secondary" %}
                        {% render_field form2.tipoviviendaid class="form-control input border border-secondary" %}
                        {% render_field form2.tipobarrioid class="form-control input border border-secondary" %}
                        {% render_field form2.nombresector class="form-control input border border-secondary" %}
                    </div>
                    <div class="col-md-2 mt-1 p-0">
                        <label for="precio" class="txt_negrita label">Nombre de usuario:</label><br>
                        <label for="precio" class="txt_negrita label">Contraseña:</label><br>
                        <label for="precio" class="txt_negrita label">Confirme contraseña:</label><br>
                    </div>
                    <div class="col-md-2">
                        <input class="form-control input border border-secondary" type="text" id="nombre_usuario" name="nombreusuario" minlength="4" onkeypress="return ValidacionNombreUsuario(event)"/>
                        <input class="form-control input border border-secondary" type="password" id="password" name="password" minlength="6" onkeyup="ValidacionContraseñas(event)" onkeypress="return SinEspacios(event)" />
                        <input class="form-control input border border-secondary" type="password" id="confirme_contraseña" name="confirme_contraseña" minlength="6" onkeyup="ValidacionContraseñas()" onkeypress="return SinEspacios(event)"/>
                        <div class="" style="display: flex;">
                            <button type="submit" id="boton_aceptar" class="btn btn_aceptar border border-secondary text-black" style="margin-right: 10px;">Aceptar</button>
                            <a href="{% url 'listar_clientes' %}" type="submit" class="btn btn_aceptar border border-secondary text-black">Cancelar</a>
                        </div>
                         
                    </div>
                </div>
        </form>
    </div>
    
    <script src="{% static 'js/registro_clientes.js' %}"></script>
    
{% endblock %}