{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/registro_clientes.css' %}">
    <div class="container text-end caja rounded mt-5">
        <h1 class="text-center p-3" >Detalles del Cliente</h1>

        <table class="table table-striped table-hover" style="background-color: white; margin-bottom: 35px;">
            <thead class="table-dark" style="text-align:center">
                <tr>
                    <th>Run</th>
                    <th>Nombre</th>
                    <th>Telefono</th>
                </tr>
            </thead>
            <tbody style="text-align:center">
                <tr>
                    <td class="border border-secondary">{{cliente.personaid.runcuerpo}} - {{cliente.personaid.dv}}</td>
                    <td class="border border-secondary">{{cliente.personaid.nombres}} {{cliente.personaid.apellidopaterno}} {{cliente.personaid.apellidomaterno}}</td>
                    <td class="border border-secondary">{{cliente.personaid.telefono}}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped table-hover" style="background-color: white">
            <thead class="table-dark" style="text-align:center">
                <tr>
                    <th>Direccion</th>
                    <th>Tipo de vivienda</th>
                    <th>Tipo de barrio</th>
                    <th>Estado del cliente</th>
                </tr>
            </thead>
            <tbody style="text-align:center">
                <tr>
                    <td class="border border-secondary">{{cliente.direccionid.calle}} {{cliente.direccionid.numero}} {{cliente.direccionid.nombresector}}, {{cliente.direccionid.comunaid.nombre}}, {{cliente.direccionid.comunaid.regionid.nombre}}</td>
                    <td class="border border-secondary">{{cliente.direccionid.tipoviviendaid.descripcion}}</td>
                    <td class="border border-secondary">{{cliente.direccionid.tipobarrioid.descripcion}}</td>
                    <td class="border border-secondary">{{cliente.estadoid.descripcion}}</td>
                </tr>
            </tbody>
        </table>

        <a href="{% url 'listar_clientes' %}" type="submit" class="btn">Volver</a>

    </div>
    
{% endblock %}