{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
{% load l10n %}
{% localize on %}
{% load humanize %}

    <link rel="stylesheet" href="{% static 'css/modulo_productos.css' %}">
    <div class="container text-end caja rounded mt-5">
    <h1 class="text-center">Administracion de Proveedores</h1>
    <div class="container mb-4">
        {% if messages %}
            <ul class="messages list-group mb-3">
                {% for message in messages %}
                    <script>
                        Swal.fire({
                            icon: 'success',
                            text: "{{message}}",
                            showConfirmButton: false,
                            timer: 2000
                        })
                    </script>
                {% endfor %}
            </ul>
        {% endif %}
        </div>  
        <table class="table table-striped table-hover " style="background-color: white">
            <thead  class="table-dark" style="text-align:center">
                <tr>
                    <th>Razon Social</th>
                    <th>RUT</th>
                    <th>Fono</th>
                    <th>Rubro</th>
                    <th>Dirección</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody style="text-align:center">
                {% for prov in proveedor %}
                    <tr>
                        <td>{{ prov.razonsocial }}</td>
                        <td>{{ prov.rutcuerpo}}-{{prov.dv }}</td>
                        <td>{{ prov.fono }}</td>
                        <td>{{ prov.rubroid }}</td>
                        <td>{{ prov.direccionid }}</td>
                        <td>{{ prov.estadoid }}</td>
                        <td>
                            <form method="POST" action="">
                                {% csrf_token %}
                                <div class="btn-group">
                                    <button  id="" name="VerProveedor" value="{{prov.proveedorid}}" class="btn btn_aceptar border border-secondary">Ver</button>
                                    <button  id="" name="EditarProveedor" value="{{prov.proveedorid}}" class="btn btn_aceptar border border-secondary">Editar</button>
                                    {% if prov.estadoid.descripcion == 'Activo' %}
                                        <button type="submit" id="" name="CambiarEstado" value="{{prov.proveedorid}}" class="btn btn_aceptar border border-secondary">Desactivar Producto</button>
                                    {% else %}
                                        <button type="submit" id="" name="CambiarEstado" value="{{prov.proveedorid}}" class="btn btn_aceptar border border-secondary">Activar Producto</button>
                                    {% endif %}
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

            <div align="left" class="btn_crear mb-5">
                <a href="{% url 'agregar_proveedor' %}" type="button" class="btn btn-primary">Crear</a>
            </div>

    </div>
   
    {% endlocalize %}
    {% endblock %}

