{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/modulo_productos.css' %}">
    <div class="container text-end caja rounded mt-5">
        <h1 class="text-center" >Detalles del Proveedor</h1>

        <table class="table table-striped table-hover" style="background-color: white; margin-bottom: 35px;">
            <thead class="table-dark" style="text-align:center">
                <tr>
                    <th>Razon Social</th>
                    <th>RUT</th>
                    <th>Fono</th>
                    <th>Rubro</th>
                    <th>Dirección</th>
                    <th>Estado</th>
               
                </tr>
            </thead>
            <tbody style="text-align:center">
                <tr>
                    
                    <td class="border border-secondary" >{{ proveedor.razonsocial }}</td>
                    <td class="border border-secondary" >{{ proveedor.rutcuerpo}}-{{proveedor.dv }}</td>
                    <td class="border border-secondary" >{{ proveedor.fono }}</td>
                    <td class="border border-secondary" >{{ proveedor.rubroid }}</td>
                    <td class="border border-secondary" >{{ proveedor.direccionid }}</td>
                    <td class="border border-secondary" >{{ proveedor.estadoid }}</td>
                </tr>
            </tbody>
        </table>
    

        <a href="{% url 'listar_proveedores' %}" type="submit" class="btn">Volver</a>

    </div>
    
{% endblock %}