{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/registro_clientes.css' %}">
    <div class="container text-end caja rounded mt-5">
        <h1 class="text-center pt-4">Administración de boletas</h1>

        <form>
            Buscar boleta <input id="searchTerm" type="text" onkeyup="doSearch()" /><br><br>
        </form>

        <table id="datos" class="table table-striped table-hover" style="background-color: white">
            <h3 class="titulo-cliente text-center p-2 mb-0">Boletas</h3>
            <thead class="table-dark" style="text-align:center">
                <tr>
                    <th>Nro Boleta</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Nro Venta</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody style="text-align:center">
          
                {% for boleta in boletas %}
                    <tr>
                        <td>{{ boleta.nroboleta }}</td>
                        <td>{{ boleta.fechaboleta }}</td>
                        <td>{{ boleta.totalboleta }}</td>
                        <td>{{ boleta.nroventa.nroventa }}</td>
                        <td>{{ boleta.estadoid.descripcion }}</td>
                        <td>
                            <form method="POST" action="">
                                {% csrf_token %}
                                <div class="btn-group">
                                    <button  id="" name="VerBoleta" value="{{boleta.nroboleta}}" class="btn btn_aceptar border border-secondary">Ver</button>
                                    
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                <tr class='noSearch hide'>
                    <td colspan="5"></td>
                </tr>
            </tbody>
        </table>
  
    </div>
    <script src="{% static 'js/buscador_tabla.js' %}"></script>

    <script>
        function manual(){
          Swal.fire({
            title: 'Manual',
            html: `En esta interfaz, estamos visualizando las boletas ya emitidas y registradas..
            <br><br>
            Podemos ver los datos mas importantes de las boletas, tales como: N° de Boleta, Fecha de Venta,
            Monto (de la venta) y el N° de la venta. Tambien tenemos la posibilidad de visualizar en detalle
            una boleta en especifico.
            <br><br> 
            `,
            showConfirmButton: true,
            confirmButtonText: 'Continuar',
          })
        }
    </script>

{% endblock %}