{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <!-- <link rel="stylesheet" href="{% static 'css/index.css' %}"> -->

    <link rel="stylesheet" href="{% static 'css/registro_clientes.css' %}">

   <div class="container text-end caja rounded">
        
    <h1 class="text-center p-2">Registro de Productos</h1>
    
    <form method="post" action="" class="">
        {% csrf_token %}        

            <div class="form-group row pb-3">
                <div class="col-md-2 mt-1 textos p-0">
                    <label class="txt_negrita label">Nombre:</label><br>
                    <label class="txt_negrita label">Precio:</label><br>
                    <label class="txt_negrita label">Stock:</label><br>
                    <label class="txt_negrita label">Stock Critico:</label><br>
                    <label class="txt_negrita label">Fecha de Vencimiento:</label><br>
                </div>
                <div class="col-md-2">
                    {% render_field form.nombre class="form-control input border border-secondary" name="nombre" %}
                    {% render_field form.precio class="form-control input border border-secondary" name="precio" %}
                    {% render_field form.stock class="form-control input border border-secondary" name="stock" %}
                    {% render_field form.stockcritico class="form-control input border border-secondary" name="stock_critico" %}
                    {% render_field form.fechavencimiento class="form-control input border border-secondary" name="fecha_vencimiento" %}
                </div>

                <div class="col-md-2 mt-1 p-0">
                    <label for="comuna" class="txt_negrita label">Imagen del Producto:</label><br>
                    <label for="comuna" class="txt_negrita label">Proveedor :</label><br>
                    <label for="comuna" class="txt_negrita label">Tipo de Producto :</label><br>
                    <label for="comuna" class="txt_negrita label">familiaproid:</label><br>
                    <label for="comuna" class="txt_negrita label">Estado Producto:</label><br>

                </div>
                <div class="col-md-2">
                    {% render_field form.imagen class="form-control input border border-secondary" name="calle" %}
                    {% render_field form.proveedorid class="form-control input border border-secondary" name="numero" %}
                    {% render_field form.tipoproductoid class="form-control input border border-secondary" name="comuna_id" %}
                    {% render_field form.familiaproid class="form-control input border border-secondary" name="tipo_vivienda_id" %}
                    {% render_field form.estadoid class="form-control input border border-secondary" name="tipo_barrio_id" %}
                </div>
            </div>

            <div>
              <div class="col-md-2">
                <button type="submit" id="boton_aceptar" class="btn">Aceptar</button>
                <a href="" type="submit" class="btn">Cancelar</a> 
            </div>
            </div>
            
            
        
    </form>
</div>
{% endblock %}