{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/registro_clientes.css' %}">
    <div class="container text-end caja rounded mt-5">
        <h1 class="text-center p-3">{{usuario.nombreusuario}}</h1>

        <table class="table table-striped table-hover" style="background-color: white; margin-bottom: 35px;">
            <thead class="table-dark" style="text-align:center">
                <tr>
                    <th>Run</th>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                </tr>
            </thead>
            <tbody style="text-align:center">
                <tr>
                    <td class="border border-secondary">{{persona.runcuerpo}} - {{persona.dv}}</td>
                    <td class="border border-secondary">{{persona.nombres}} {{persona.apellidopaterno}} {{persona.apellidomaterno}}</td>
                    <td class="border border-secondary">{{persona.telefono}}</td>
                    <td class="border border-secondary">{{usuario.email}}</td>
                </tr>
            </tbody>
        </table>
        {% if direccion != None %}
            <table class="table table-striped table-hover" style="background-color: white">
                <thead class="table-dark" style="text-align:center">
                    <tr>
                        <th>Direccion</th>
                        <th>Tipo de vivienda</th>
                        <th>Tipo de barrio</th>
                    </tr>
                </thead>
                {% for dir in direccion %}
                    <tbody style="text-align:center">
                        <tr>
                            <td class="border border-secondary">{{dir.calle}} {{dir.numero}} {{dir.nombresector}}, {{dir.comunaid.nombre}}, {{dir.comunaid.regionid.nombre}}</td>
                            <td class="border border-secondary">{{dir.tipoviviendaid.descripcion}}</td>
                            <td class="border border-secondary">{{dir.tipobarrioid.descripcion}}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        {% endif %}
        {% if empresa != None %}
            <table class="table table-striped table-hover" style="background-color: white">
                <thead class="table-dark" style="text-align:center">
                    <tr>
                        <th>Razon Social</th>
                        <th>Rut</th>
                        <th>Telefono</th>
                    </tr>
                </thead>
                <tbody style="text-align:center">
                    <tr>
                        <td class="border border-secondary">{{empresa.razonsocial}}</td>
                        <td class="border border-secondary">{{empresa.rutcuerpo}} - {{empresa.dv}}</td>
                        <td class="border border-secondary">{{empresa.fono}}</td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
        <div style="display: inline-flex;">
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="run" value="{{persona.runcuerpo}}">
                <input type="hidden" name="dv" value="{{persona.dv}}">
                <button type="submit" name="EditarPerfil" class="btn btn_aceptar border border-secondary text-black m-1" >Editar datos</button>
            </form>
            
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="run" value="{{persona.runcuerpo}}">
                <input type="hidden" name="dv" value="{{persona.dv}}">
                <button type="submit" name="RevisarCompras" value="" class="btn btn_aceptar border border-secondary text-black m-1" >Revisar compras</button>
            </form>
            
            <!-- <a href="{% url 'editar_perfil' %}" type="submit" class="btn btn_aceptar border border-secondary text-black">Editar datos</a> -->
            <button type="button" class="btn btn_aceptar border border-secondary text-black m-1" onclick="ConfirmarBaja()">Dar de baja mi cuenta</button>
            <a href="{% url 'index' %}" type="submit" class="btn btn_aceptar border border-secondary text-black m-1">Volver</a>
        </div>
        
    </div>

    <script src="{% static 'js/ver_perfil.js' %}"></script>
    
{% endblock %}