{% extends 'layout.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/modulo_productos.css' %}">
    <div class="container text-end caja rounded mt-5">
        <h1 class="text-center" >Detalles del Pedido</h1>

        <table class="table table-striped table-hover" style="background-color: white; margin-bottom: 35px;">
            <thead class="table-dark" style="text-align:center">
                <tr>
                    <th>Cantidad</th>
                    <th>Producto</th>
                    <th>Stock Actual</th>
                    <th>Tipo de Producto</th>
                    <th>Imagen</th>
               
                </tr>
            </thead>
        <tbody style="text-align:center">
            {% for detalle in detalle_orden %}
                <tr>
                    <td>{{ detalle.cantidad }}</td>
                    <td>{{ detalle.productoid }}</td>
                    <td>{{ detalle.productoid.stock }}</td>
                    <td>{{ detalle.productoid.tipoproductoid }}</td>
                    <td> <img src="/static/images/{{detalle.productoid.imagen}}" alt="imagen producto" style="width:100px;height:100px;"> </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'listar_pedidos' %}" type="submit" class="btn">Volver</a>

    </div>
    
{% endblock %}